.mobile-nav-toggle i{
    color: #149ddd;
}

.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    background: none;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    line-height: 1;
    cursor: pointer;
    text-align: right;
    font-size: 24px;
}


[class*=" icofont-"], [class^=icofont-] {
    font-family: IcoFont !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

.icofont-nav-menu:before {
    content: "\efa2";
}