body{
    font-family: "Open Sans", sans-serif;
    color: #272829;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

*, ::after, ::before{
    box-sizing: border-box;
}

.nav-toggle {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: right;
    min-width: 95%;
}
.main-container{
    display: flex;
}



.hidden-nav-bar{
    transform: translateX(-100%); 
    }      

    @media screen and (min-width: 1100px) {
    .header {
      transform: translateX(0); 
    }
}
    
.navbar.open {
    transform: translateX(0); 
    }

/*hamburger style*/
@media screen and (min-width: 1100px) {
  
    .nav-toggle {
      display: none; 
    }
  }
